.order-list-item{
  font-size: 16px;
  .order-edit-btn {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #3f90f7;
    text-decoration: none;
    display: inline-block;
  }
}