

.yangPin-content{
  .detail{
    .item{
      font-size: 16px;
    }
    .edit-btn{
      position: relative;
      background-color: transparent;
      border: none;
      text-decoration: none;
      display: inline-block;
    }
  }
}