.main_header {
  background: #fff;
  margin-bottom: 16px;
  .main_header_path {
    position: relative;
    left: -20px;
    top: 50%;
    transform: translateY(-9px);
    float: left;
    background-color: white;
    .span {
      font-size: 14px;
      color: #a4a4a4;
    }
    .link {
      font-size: 14px;
      color: #595959;
    }
    .link:hover {
      font-size: 14px;
      color: #1585ff;
    }
  }
  .main_header_mine {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    background-color: white;
  }
}